.single__product {
    background: #141124;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    animation: animate 1s ease-in;
}

/* Go back in the tutorial and set up my css the same way he does AFTER we complete the comment in ProductCard.jsx first, leaving in the hover effects only. */

.single__product img {
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.single__product:hover {
    box-shadow: 5px 5px 10px -5px #dc143c;
}

.product__content {
    padding: 0px 20px;
    padding-bottom: 15px;
}


.product__content h6 {
    color: #dc143c;
    text-align: center;
    margin-top: 5px;
}

.rating {
    margin-bottom: 10px;
}
.rating span i{
    color: #f5b70a;
}

.price {
    color: #fff;
}

.price span{
    color: #dc143c; 
    font-size: 1.3rem;
    font-weight: 500;
}


.add-cart {
    width: 100px;
    color: #dc143c;
    font-size: 1.3rem;
    height: 30px;
    border-radius: 5px;
    background: #f5b70a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@keyframes animate {
    from {
        transform: scale(0);
    }
}