
.container{
    padding-bottom: 0;
    position: bottom fixed;
    align-items: center;
    width: 100%;
}

.contact {
    text-align: center;
    width: 100%;
    margin-right: 0;
}

.link__item {
    padding-left: 0;
    background: transparent;
    border: transparent;
    color: #c4c4c4;

}

.link__item a {
    color: #c4c4c4;
    background: transparent;
}

.footer__bottom{
    background: #141124;
    padding: 8px;
    text-align: center;
    margin-top: 50px;
}

.footer__bottom p{
    font-size: .9rem;
}

.ri-facebook-circle-fill {
    color: #4267B2;
}

.ri-instagram-line{
    color: #E1306C;
}
